[user]
  name = Jianzu Guan
  email = git@jzg.fastmail.com 

[core]
  excludesFile = ~/.config/git/ignore

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  default = simple
  autoSetupRemote = true

[alias]
  a = add
  aa = add .
  b = branch --sort=-committerdate
  bn = checkout -b
  c = checkout
  coi = "!git checkout $(git branch --sort=-committerdate | grep -v HEAD | sed 's/^[* ] //' | fzf)"
  s = status
  sc = switch -c
  sts = stash
  stsp = stash pop
  l = log --oneline -n 10
